/* Skjul piletaster i input[type="number"] i Chrome, Safari, Edge, Opera */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button
{
    -webkit-appearance: none;
    margin: 0;
}

/* Skjul piletaster i Firefox */
input[type=number]
{
    -moz-appearance: textfield;
}