<!DOCTYPE html>
<html lang="da">
<head>
    <meta charset="UTF-8">
    <title>Aflevering af bil</title>
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" href="/css/table.css">
    <style>
        h1, h2
        {
            text-align: center;
        }
        table
        {
            margin: auto;
        }
    </style>

</head>
<body>
<!-- Genbrugt header via Thymeleaf fragment -->
<div th:replace="~{fragments/header :: header}"></div>
<div class="indhold">
    <h1>Aflevering af biler</h1>

    <div class="tabel">
        <h2>Aktive Lejekontrakter</h2>
        <table>
            <thead>
            <tr>
                <th>Vognnummer</th>
                <th>Afleveringsadresse</th>
                <th>Afleveringsdato</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="kontrakt : ${kontrakter}">
                <td th:text="${kontrakt.vognnummer}">12345</td>
                <td th:text="${kontrakt.afleverings_adresse}">Adresse</td>
                <td th:text="${kontrakt.slutdato}">2025-06-01</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>