<!DOCTYPE html>
<html lang="da">
<head>
    <meta charset="UTF-8">
    <title>Bilabonnement Login</title>
    <link rel="stylesheet" href="style??.css">
</head>
<body>
<div>
    <!-- Logo -->
    <img src="images/BILABONNEMENT_logo.png" alt="BilAbonnement Logo" class="logo">

    <!-- Login overskrift -->
    <h1>🔒 Log ind</h1>

    <!-- Login-formular -->
    <form>
        <input type = "text" placeholder="Brugernavn" required>
        <input type = "text" placeholder="Adgangskode" required>
        <input type = "submit" value = "Indsend">
    </form>
</div>


</body>
</html>
