<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login Screen</title>

    <!-- Ekstern CSS til header -->
    <link rel="stylesheet" th:href="@{/css/header.css}">

    <!-- Ekstern CSS til billed-menuen -->
    <link rel="stylesheet" th:href="@{/css/logindhome.css}">
</head>
<body>

<!-- Genbrugt header via Thymeleaf fragment -->
<div th:replace="~{fragments/header :: header}"></div>

<!-- Indhold (f.eks. overskrift til velkomst) -->
<div class="indhold">
    <h1 style="text-align: center">Logget ind som Administrationsmedarbejder</h1>
</div>

<!-- Grid-menu med billeder -->
<div class="grid-container">

    <!-- Hver menu-item er en klikbar boks med billede og tekst -->
    <a th:href="@{/opretkontrakt}" class="menu-item">
        <img src="/images/Lejeaftale.png" alt="Opret Lejekontrakt"/>
        <div>Opret Lejekontrakt</div>
    </a>

    <a th:href="@{/opretForhaandsaftale}" class="menu-item">
        <img src="/images/foråndsaftale.png" alt="Opret Forhåndsaftale"/>
        <div>Opret Forhåndsaftale</div>
    </a>

    <a th:href="@{/skadesrapporter}" class="menu-item">
        <img src="/images/skaderapport.png" alt="Opret Skadesrapport"/>
        <div>Opret Skadesrapport</div>
    </a>

    <a th:href="@{/opretby}" class="menu-item">
        <img src="/images/by.png" alt="Opret by"/>
        <div>Opret By</div>
    </a>

    <a th:href="@{/opretAdresse.html}" class="menu-item">
        <img src="/images/adresse.png" alt="Adresse"/>
        <div>Opret Adresse</div>
    </a>

    <a th:href="@{/opretBil}" class="menu-item">
        <img src="/images/addcar.png" alt="Bil"/>
        <div>Opret Bil</div>
    </a>

    <a th:href="@{/lagerstatus}" class="menu-item">
        <img src="/images/lagerstatus.png" alt="Lagerstatus"/>
        <div>Lagerstatus</div>
    </a>

    <a th:href="@{/reserveredeBiler}" class="menu-item">
        <img src="/images/reserverbil.png" alt="Reserverede Biler"/>
        <div>Reserverede Biler</div>
    </a>

    <a th:href="@{/udlevering}" class="menu-item">
        <img src="/images/udlevering.png" alt="Udlevering"/>
        <div>Udlevering</div>
    </a>

    <a th:href="@{/afleveringer}" class="menu-item">
        <img src="/images/tilbagelevering.png" alt="Tilbage levering"/>
        <div>Tilbage levering</div>
    </a>

    <a th:href="@{/alarmer}" class="menu-item">
        <img src="/images/alarm.png" alt="Alarmer"/>
        <div>Alarmer</div>
    </a>

</div>
</body>
</html>