<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Biler til udlevering</title>
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" href="/css/table.css">

</head>
<body>
<!-- Genbrugt header via Thymeleaf fragment -->
<div th:replace="~{fragments/header :: header}"></div>
<div class="indhold">
<h1>Biler klar til udlevering</h1>

<form method="post" th:action="@{/opdaterStatus}">
    <table border="1">
        <tr>
            <th>Vognnummer</th>
            <th>Mærke</th>
            <th>Model</th>
            <th>Nummerplade</th>
            <th>Status</th>
            <th>Udleveret?</th>
        </tr>
        <tr th:each="bil : ${bilList}">
            <td th:text="${bil.vognnummer}"></td>
            <td th:text="${bil.maerke}"></td>
            <td th:text="${bil.model}"></td>
            <td th:text="${bil.nummerplade}"></td>
            <td th:text="${bil.status}"></td>
            <td>
                <input type="checkbox" th:name="udlejedeBiler"
                       th:value="${bil.vognnummer}">
            </td>
        </tr>
    </table>
    <br>
    <button type="submit">Opdater status til "Udlejet"</button>
</form>

</div>
</body>
</html>